fastapi==0.115.12
numpy==2.1.3
openai-whisper @ git+https://github.com/openai/whisper.git@517a43ecd132a2089d85f4ebc044728a71d49f6e
PyAudio==0.2.14
SpeechRecognition==3.14.2
torch==2.6.0
uvicorn==0.34.0